@charset "UTF-8";
.buttons {width: 100px;
		  border: 2px solid orange;
		  margin: 20px;
		  padding: 5px;
		  color: rgb(255,0,0); /*red;*/ /* #ff0000; */
		  background-color: yellow;
		  font-size: 15pt;}

.bold {font-weight: bold;}

.italic {font-style: italic;}

#fonts { font-family: 휴먼옛체, 궁서체;
		font-style: italic;
		font-size: 20pt;
		font-weight: bold;
		color: #ff0000;
		background-color: yellow;}
		



				  